.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  block-size: var(--actionsBlocksize);
  background: var(--grey-4);
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  position: relative;
  box-shadow: inset 0 1px 2px #66666716;
}

.actions-send {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions .buttonIcon.is-send {
  display: none;
}

.actions-send:focus-within .buttonIcon.is-send {
  display: block;
}

.actions-send:focus-within .buttonIcon:last-of-type {
  display: none;
}

.actions-text {
  flex: 1;
  background: var(--white);
  border-radius: 3.125rem;
  border: none;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-block-start: .875rem;
  padding-block-end: .875rem;
  font: var(--body-16regular);
  color: var(--black);
}



