@import './conversation.css';
@import './ellipse.css';

:root {
  --blocksizeHeader: 5rem;
  --blocksizeSearch: 5rem;
}

.sidebar {
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--white);
}

.sidebar .header {
  block-size: var(--blocksizeHeader);
}

.sidebar .searchChat {
  block-size: var(--blocksizeSearch);
}

.sidebar .conversationList {
  flex: 1;
  overflow-y: auto;
}

