.chat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font: var(--caption-12regular);
  padding-inline: 1rem;
  color: var(--grey);
  text-decoration: none;
}

.chat > * {
  padding-block: 1rem;
  align-items: center;
}

.chat:hover,
.chat:focus-within {
  outline: none;
  background: var(--grey-2);
}

.chat-image img {
  inline-size: 3rem;
  block-size: 3rem;
  border-radius: 50%;
  vertical-align: middle;
}

.chat-secundary {
  flex-grow: 1;
  box-shadow: 0 2px 0 var(--grey-3);
}

.chat-details {
  margin-block-end: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-name {
  font: var(--body-16regular);
  color: var(--black);
}

.chat-text {
  margin: 0;
}

.chat-info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}


