.layout {
  display: flex;
}

.layout-aside {
  inline-size: var(--asideInlinesize);
  flex-shrink: 0;
  background: var(--white);
}

.layout-main {
  flex-grow: 1;
  background-color: var(--panel-background);
}


@media screen and (max-width:900px) {
  .layout-aside {
    inline-size: 19.25rem;
  }
}

@media screen and (max-width:425px) {
  .layout-aside {
    inline-size: 19.25rem;
    flex-grow: 1;
  }

  .layout-main {
    display: none;
  }
}